
src/.vs/SnailCompilator2/v15/Browse.VC.db
src/.vs/SnailCompilator2/v15/.suo
src/.vs/SnailCompilator2/v15/Browse.VC.opendb
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/512b5372a69b1ffc/MAIN.ipch
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/54dc1ef9f295bf97/SEMANTIQUE.ipch
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/a6dab12dd67917d6/SYNTAXIQUE.ipch
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/ce3d70949f70f2f1/LEXICAL.ipch
.vs/slnx.sqlite
.vs/ProjectSettings.json
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/898d7679a0defa8c/TOKEN.ipch
.vs/VSWorkspaceState.json
