
src/.vs/SnailCompilator2/v15/Browse.VC.db
src/.vs/SnailCompilator2/v15/.suo
src/.vs/SnailCompilator2/v15/Browse.VC.opendb
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/512b5372a69b1ffc/MAIN.ipch
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/54dc1ef9f295bf97/SEMANTIQUE.ipch
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/a6dab12dd67917d6/SYNTAXIQUE.ipch
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/ce3d70949f70f2f1/LEXICAL.ipch
.vs/slnx.sqlite
.vs/ProjectSettings.json
src/.vs/SnailCompilator2/v15/ipch/AutoPCH/898d7679a0defa8c/TOKEN.ipch
.vs/VSWorkspaceState.json
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/ea094cb9f9999616/TOKEN.ipch
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/d32f18ce045f51bc/SYNTAXIQUE.ipch
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/b664f5a2c8176eb/LEXICAL.ipch
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/b3eec8abf9a11dda/HOME.ipch
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/90197283a7dacb0d/SEMANTIQUE.ipch
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/5f1354ac20866d1d/MYFORM2.ipch
SnailGraphique/.vs/SnailG/v15/Browse.VC.db
SnailGraphique/.vs/SnailG/v15/.suo
SnailGraphique/.vs/SnailG/v15/Browse.VC.opendb
SnailGraphique/.vs/SnailG/v15/ipch/AutoPCH/6d82b3c78ce64f40/TOKENFORM.ipch
